﻿@model Hangman.Entities.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Create</title>
</head>
<body>
    <fieldset>
        <legend>User</legend>

        <div class="display-label">Id</div>
        <div class="display-field">@Model.Id</div>
    
        <div class="display-label">Username</div>
        <div class="display-field">@Model.Username</div>
    
        <div class="display-label">Email</div>
        <div class="display-field">@Model.Email</div>
    </fieldset>
</body>
</html>

