﻿@model IEnumerable<Hangman.Entities.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
   
    <table>
        <tr>
            <th>
                Id
            </th>
            <th>
                Username
            </th>
           
            <th>
                Email
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
             <td>
                @item.Id
            </td>

            <td>
                @item.Username
            </td>
           
            <td>
                @item.Email
            </td>
        </tr>
    }
    
    </table>
</body>
</html>

