.spinner
{
    height:70px;
    background-image: url('../images/spinnerLarge.gif');
    background-repeat:no-repeat;
    background-position:center 5px;
}

.clear
{
    clear:both;
}
.game-container
{
    width:1100px;
    overflow-x:auto;
    overflow-y:hidden;
}

.game-results
{
    float:right;
}

.hangman
{
    margin:80px 0 0 0;
    float:left;
}

.hangman img
{
    width:196px;
    height:243px;
}

.game-message
{
    position: relative;
    top:100px;
    padding-left: 300px;
}

.game-message .success
{
    color: Green;
}

.game-message fail
{
    color:Red;
}

#letters
{
    border-color:#4F81BD;
    margin:150px auto 0 10px;
    height:60px;
    width:800px;
    float: left;
    border-radius:5px;
}

.capture
{
    border:1px solid
}

.letter{
    border-bottom:4px solid;
    width:40px;
    height:40px;
    margin-left:10px;
    float:left;
}

.usedLetters
{
    font-weight:bold;
    font-size:15px;
}

.keyboard
{
    width: 710px;
    padding:0;
    margin:50px 0 0 0;
    text-align:center;
}

.key
{
    border-radius:5px;
    border: 2px solid #4F81BD;
    width:40px;
    height:40px;
    margin-left:10px;
    margin-top:10px;
    float:left;
    font-size:2.5em;
    text-align:center;
}

.key div
{
    padding-top: 10px;
}

.key:hover
{
    cursor:pointer;
}

.letter div
{
    font-size:2.5em;
    text-align:center;
    padding-top: 16px;
}

.sidebarButtons
{
    border-bottom:1px solid #E3E1E1;
    padding: 0 0 10px 0;
}

.challenges
{
    margin:0 0 0 0;
    min-height:400px;
    max-height:700px;
    overflow-y:auto;
}

#results
{
    margin-top:80px;
}

.status-list
{
    list-style-type:none;
}

.status-list li
{
    padding: 10px 0 0 25px;
    margin: 10px 0 10px 0;
    height:30px;
    border-radius:4px;
    list-style-position:inside;
}

.status-list li:hover
{
    cursor:pointer;
    background-color:#E3E1E1;
}

.status-list .active
{
    background-color:#E3E1E1;
}

.status-list .pass
{
    list-style-image:url('../images/check.png');  
}

.status-list .fail
{
    list-style-image:url('../images/error.png');  
}

.status-list .pending
{
    list-style-image:url('../images/warning.png');  
}

.status-list .creator
{
    padding-left:48px;
}

.challengeButton
{
    width:100%;
    margin:10px 0 5px 0;
}

label.error
{
    color:Red;
    float:none;
    padding-left:10px;
}

.loginForm
{
    margin:0;
}

.loginForm input
{
    width:70px;
}

.errorMessage
{
    text-align:center;
    position:relative;
    top: -17px;
}

.hidden
{
    visibility:hidden;
}