﻿
@model Hangman.Models.GameViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Hangman</title>
    <meta charset="utf-8">
    <meta name="author" content="Federico Silva Armas <fsilva.armas@gmail.com>">
    
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/App.css")" rel="stylesheet" type="text/css" />
    
    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-1.7-development-only.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/lib/underscore-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/lib/backbone.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/lib/bootstrap-modal.js")" type="text/javascript"></script>

    <script type="text/javascript">var Hangman = {};</script>
    <script src="@Url.Content("~/Content/js/Server.js")" type="text/javascript"></script>
     <script type="text/javascript">
         Hangman.Server.getContextPath = function () { return '@Url.Content("~/")'; }
         Hangman.Server.getCurrentUser = function () { return '@Model.UserName'; }
    </script>

    <script src="@Url.Content("~/Content/js/Models.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/Collections.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/Views.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/Routers.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/Startup.js")" type="text/javascript"></script>

    <script type="text/template" id="challenge-template">
        #<%= id %> by <strong><%= username %></strong>
    </script>

    <script type="text/template" id="challenge-list-template">
            <h3>Challenges</h3>
            <div class="sidebarButtons">
                @if (Model.IsAuthenticated)
                {
                    <button class="btn challengeButton" data-toggle="modal" href="#newWordModal">New Challenge</button>
                }
               <button class="btn challengeButton" id="playRandom">Play Random</button>
            </div>
            <div>
                <div class="spinner" />
                <ul class="challenges status-list">
                </ul>
            </div>
            <div id="newWordModal" class="modal fade">
                <form id="newWordForm">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">x</a>
                        <h3>New Challenge</h3>
                    </div>
                    <div class="modal-body">
                        <p>
                            <label for="newWordInput">Word:  </label><input type="text" name="newWordInput" id="newWordInput"></input>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="newWordButton" class="btn primary" value="Create" />
                    </div>
                </form>
            </div>
    </script>

    <script type="text/template" id="game-template">
            <div class="hangman">
                <img src='@Url.Content("~/Content/images/hang")/<%= image %>' />
            </div>
            <div class="game-message">
            </div>
            <div id="letters" <% if(captureKeys){ %>class="capture" <%} %>>
                    <% _.each(letters, function(l){ %>
                        <div class="letter">
                        <% if(l.get('isVisible')){ %>
                            <div><%= l.get('value') %></div>
                        <% } %>
                        </div>
                    <% }); %>
            </div>
            <div class="game-results">
                <div id="results" />
            </div>
        <div class="clear" />
        <span class="usedLetters">Used:&nbsp;&nbsp;
            <% if(usedLetters.length == 0) {%> 
                none
            <%}%>
            <% _.each(usedLetters, function(l){ %>
                <%= l %> &nbsp;&nbsp;&nbsp;
            <%});%>
        </span>

        <div class="keyboard">
            <h3>Use your keyboard or click below to guess a letter</h3>
            <% _.each(keyboard, function(l){ %>
                <div class="key <% if(!l.get('isVisible')) {%>hidden<%}%>">
                    <div><%= l.get('value') %></div>
                </div>
            <% }); %>
        </div>
    </script>
</head>
<body>
     <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand">Hangman</a>
                    <div class="pull-right navbar-text">
                        @if (!Model.IsAuthenticated)
                        {
                            using (Html.BeginForm("Authenticate", "Game", FormMethod.Post, new { @class = "loginForm" }))
                            { 
                            <text>
                                User: <input type="text" id="username" name="username" value="" />
                                Password: <input type="password" id="password" name="password" value="" />
                                <input type="submit" value="Login" />
                                @if (ViewData["loginError"] != null)
                                {
                                    <br />
                                    <span>Error</span>
                                }
                            </text>
                            }
                        }
                        else
                        {
                            <text>Player: @Model.UserName  [@Html.ActionLink("Logout", "Logout")]</text>
                        }
                    </div>
            </div>
        </div>        
    </div>
    
    @if (!String.IsNullOrEmpty(Model.ErrorMessage))
    { 
        <div class="errorMessage alert alert-block alert-error">@Model.ErrorMessage</div>
    }

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="sidebar span2">
            </div>
            <div class="content span10">
            </div>    
        </div>
    </div>
</body>
</html>